@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
.ff-firaCode{
    font-family: 'Fira Code', monospace;
}
.fs{
    font-size: 24px;
}
.totka p{
    display: inline;
}
.cursor{
    cursor: pointer;
}